{% extends 'base.html' %}

{% block title %} Funcionários {% endblock %}

{% block main %}
<div class="container">
    <div class="row">
        <h2>Funcionários</h2>
        <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col">id</th>
                <th scope="col">Nome</th>
                <th scope="col">Empresa</th>
                <th scope="col">Departamento</th>
              </tr>
            </thead>
            
            <tbody>
                {% for funcionario in object_list %}
                    <tr>
                        <th scope="row">{{ funcionario.id }}</th>
                        <td>{{ funcionario }}</td>
                        <td>{{ funcionario.empresa }}</td>
                        <td>{{ funcionario.empresa.departamentos }}</td>
                    </tr>
                {% endfor %}
            </tbody>
          </table>
    </div>
</div>
    
{% endblock %}

